
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>天汇荣誉</title>
    <link rel="stylesheet" href="../assets/static/css/default.css?v=142">
    <script src="../assets/static/js/jquery-1.11.1.min.js"></script>
    <script src="../assets/static/js/fun.js?v=141"></script>
    <link rel="stylesheet" href="../assets/static/css/zi.css">
</head>
<body>
    <!-- top start -->
    @Html.Action("HomePartial", "Home", new { chanelid = 10 })
    <!-- end top -->
    <div class="container">
        <div class="banner">
            <div class="banner">
                @Html.Raw(ViewBag.banner)
            </div>
        </div>
        <div class="honor">
            <div class="all main">
                @*<div class="title">@Html.Raw(ViewBag.title)</div><br />*@
                <div class="cont">
                    <div class="honorBox">
                        @*<div class="prev"></div>
                        <div class="next"></div>*@
                        <div class="honorBoxCont">
                            <div class="box">
                                @Html.Raw(ViewBag.Content)
                            </div>
                        </div>
                        <div class="honorBoxbtm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- foot start -->
    @Html.Partial("~/Views/Shared/Foot.cshtml")
    <!-- end foot -->
</body>
</html>
